main {
  padding: 10px 5px;
}

.register-client-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  font-family: Verdana, sans-serif;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-client-input-field {
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
}

.form-button {
  width: 100%;
  padding: 10px 6px;
  color: white;
  font-size: 14px;
  background-color: orange;
  border-radius: 5px;
  border: 1px solid orange;
}

.button-previous {
  color: orange;
  background-color: white;
}

.button-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.step-header {
  margin-top: 0;
}

.step-indicator {
  margin: 0;
}
