main {
  padding: 10px 5px;
}

.register-client-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  font-family: Verdana, sans-serif;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.register-client-input-field {
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
}

.register-client-input-radio {
  appearance: none;
  flex-shrink: 0;
  margin: 0;
  height: 16px;
  width: 16px;
  cursor: pointer;
  border-radius: 180px;
  border: 1px solid black;
}

.register-client-input-radio:checked {
  background-color: white;
  box-shadow: inset 0 0 0 3px orange, inset 0 0 0 3px orange;
  border-color: orange;
}

.register-client-input-radio-label {
  margin-inline: 4px;
}

.form-button {
  width: 100%;
  padding: 10px 6px;
  color: white;
  font-size: 14px;
  background-color: orange;
  border-radius: 5px;
  border: 1px solid orange;
}

.button-previous {
  color: orange;
  background-color: white;
}

.button-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.step-header {
  margin-top: 0;
}

.step-indicator {
  margin: 0;
}
